<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/productCard.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/productList.css" />
    <link rel="stylesheet" href="/css/invertedHeader.css" />
    <script type="module" src="/scripts/productList.js"></script>
    <title>Tienda</title>
</head>
<body data-page_name="productList">
    <%- include('./partials/header.ejs') %>
    <main class="main">
      <section class="product_list_buttons_container">
        <div class="section_title_container drop_title_container">
            <img
              src="./img/logo/branding/Variante_Crema/Icono.png"
              alt=""
              class="section_logo animated_element"
            />
            <h4 class="section_title animated_element">Drops</h4>
          </div>
        <div class="drop_buttons_wrapper buttons_wrapper">
            <% dropsFromDB.forEach(drop => { %>
                <a href="/drop/<%= drop.id %>" class="drop_btn product_list_btn animated_element"><%= drop.name %></a>
            <% }) %>
        </div>
        <div class="section_title_container brand_title_container">
            <h4 class="section_title animated_element">Marcas</h4>
        </div>
        <div class="brand_buttons_wrapper buttons_wrapper">
            <% brandsFromDB.forEach(brand => { %>
                <% if (brand.logo && brand.logo.file_urls) { %>
                    <% let srcset = brand.logo.file_urls.map(file => `${file.url} ${file.size}`).join(', '); %>
                    <a href="<%= brand.id %>" class="brand_btn product_list_btn animated_element">
                        <img src="<%= brand.logo.file_urls?.find(file => file.size === '1x')?.url %>" 
                             srcset="<%= srcset %>" 
                             alt="<%= brand.name %>">
                    </a>
                <% } %>
            <% }) %>
        </div>
      </section>
      <section class="product_cards_wrapper_section">

      </section>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>